Flask
pandas 
numpy==1.18.0
#scikit-build
opencv-python==4.2.0.34
dash
dash_html_components
dash_core_components
dash_table
plotly
plotly_express 
matplotlib
flask-compress
dash_extensions
sqlalchemy
