.Select-menu-outer {
display : block !important;
}

.zoom {
  padding: 0px;
  transition: transform .05s; /* Animation */
  width: 100%;
  margin: 0 auto;
}

.zoom:hover {
  z-index:"10";
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: left;
}


.zoomlow {
  padding: 0px;
  transition: transform .05s; /* Animation */
  width: 100%;
  margin: 0 auto;
}

.zoomlow:hover {
  z-index:"10";
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform-origin: left;
}
